
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
}
#display {
   width: 100%; 
   padding: 20px;
   font-size: 5rem;
   text-align: left;
   border: none;
   background-color: palegoldenrod;
}
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 25px;
}
button {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: none;
    background-color: peachpuff;
    color: black;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
     background-color: rgb(181, 101, 31); 
}
button:active {
     background-color: rgb(181, 101, 50%); 
}
.operator-btn {
    background-color:white ;
}



body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
}
#display {
   width: 100%; 
   padding: 20px;
   font-size: 5rem;
   text-align: left;
   border: none;
   background-color: palegoldenrod;
}
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 25px;
}
button {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: none;
    background-color: peachpuff;
    color: black;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
     background-color: rgb(181, 101, 31); 
}
button:active {
     background-color: rgb(181, 101, 50%); 
}
.operator-btn {
    background-color:white ;
}


